@model ProfileViewModel

@{ 
    Layout = "/Views/Shared/_Layout.cshtml";

    var visibleClaims = (Model.VisibleClaims ?? "").Split((",").ToCharArray()).ToList();
    var editableClaims = (Model.EditableClaims ?? "").Split((",").ToCharArray()).ToList();
 }

<link rel="stylesheet" href="~/css/manage-profile.css" />
<script type="text/javascript" src="~/js/manage-profile.js"></script>

<div class="profile-page">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Basic Info</h3>
            <div class="card-subtitle">Update information such as first name, last name, and birthdate</div>
        </div>
        <div class="card-body padding-top-xs-0 padding-bottom-xs-0">
            <div class="row border-bottom padding-top-xs-15">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <div>Profile Photo</div>
                        </div>
                    </div>
                    <p></p>
                    <div class="row">
                        <div class="col-7">
                            <div style="color:gray">Adding a profile page helps to personalize your account so that we can put a face with the name.</div>
                        </div>
                        <div class="profile-photo-temp">
                            <a class="waves-effect waves-light profile-photo-letter">@((Model.FirstName ?? " ").Substring(0, 1))</a>
                            <a class="profile-photo-camera fa fa-camera-retro"></a>
                        </div>
                    </div>
                    <p></p>
                </div>
            </div>
            <a class="row hover-light border-bottom padding-top-xs-15 min-height-100" style="@(visibleClaims.Contains("preferred_username") ? "" : "display:none")" href="@(editableClaims.Contains("preferred_username") ? "/Manage/Username" : "javascript:void(0)")">
                <div class="col-12 col-md-10">
                    <div class="row">
                        <div class="form-group col-md-6 col-lg-6">
                            <label asp-for="Username"></label>
                            <input asp-for="Username" type="text" class="nickname-field form-control form-control-readonly" readonly="readonly" />
                        </div>
                    </div>
                </div>
                @if (editableClaims.Contains("preferred_username"))
                {
                    <i class="fa fa-chevron-right float-right position-absolute padding-top-xs-5 padding-top-md-30" style="right:10px;"></i>
                }
            </a>
            <a class="row hover-light border-bottom padding-top-xs-15 min-height-100" style="@(visibleClaims.Contains("given_name") || Model.VisibleClaims.Contains("family_name") ? "" : "display:none")" href="@(editableClaims.Contains("given_name") || editableClaims.Contains("family_name") ? "/Manage/Name" : "javascript:void(0)")">
                <div class="col-12 col-md-10">
                    <div class="row">
                        <div class="form-group col-12 col-md-5">
                            <label asp-for="FirstName"></label>
                            <input asp-for="FirstName" type="text" class="firstname-field form-control form-control-readonly" readonly="readonly" />
                        </div>
                        <div class="form-group col-md-5">
                            <label asp-for="LastName"></label>
                            <input asp-for="LastName" type="text" class="lastname-field form-control form-control-readonly" readonly="readonly" />
                        </div>
                    </div>
                </div>
                @if (editableClaims.Contains("given_name") || editableClaims.Contains("family_name"))
                {
                    <i class="fa fa-chevron-right float-right position-absolute padding-top-xs-5 padding-top-md-30" style="right:10px;"></i>
                }
            </a>
            <a class="row hover-light border-bottom padding-top-xs-15 min-height-100" style="@(visibleClaims.Contains("shipping_address") ? "" : "display:none")" href="@(editableClaims.Contains("shipping_address") ? "/Manage/Address?type=shipping_address" : "javascript:void(0)")">
                <div class="col-12 col-md-10">
                    <div class="row">
                        <div class="form-group col-md-6 col-lg-6">
                            <label>Shipping Address</label>
                            @if (Model.ShippingAddress != null)
                            {
                                <div class="col-12 form-control" style="background-color:#EEEEEE;height:70px;padding-top:10px;">
                                    <div class="row">
                                        <div class="col-12">@Model.ShippingAddress.Street</div>
                                        <div class="col-12">@(Model.ShippingAddress.City + ", " + Model.ShippingAddress.State + " " + Model.ShippingAddress.Zip) </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-md-12 form-control" style="background-color:#EEEEEE;"></div>
                            }
                        </div>
                    </div>
                </div>
                @if (editableClaims.Contains("shipping_address"))
                {
                    <i class="fa fa-chevron-right float-right position-absolute padding-top-xs-5 padding-top-md-30" style="right:10px;"></i>
                }
            </a>
            <a class="row hover-light border-bottom padding-top-xs-15 min-height-100" style="@(visibleClaims.Contains("billing_address") ? "" : "display:none")" href="@(editableClaims.Contains("billing_address") ? "/Manage/Address?type=billing_address" : "javascript:void(0)")">
                <div class="col-12 col-md-10">
                    <div class="row">
                        <div class="form-group col-md-6 col-lg-6">
                            <label>Billing Address</label>
                            @if (Model.BillingAddress != null)
                            {
                                <div class="col-12 form-control" style="background-color:#EEEEEE;height:70px;padding-top:10px;">
                                    <div class="row">
                                        <div class="col-12">@Model.BillingAddress.Street</div>
                                        <div class="col-12">@(Model.BillingAddress.City + ", " + Model.BillingAddress.State + " " + Model.BillingAddress.Zip) </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-md-12 form-control" style="background-color:#EEEEEE;"></div>
                            }
                        </div>
                    </div>
                </div>
                @if (editableClaims.Contains("billing_address"))
                {
                    <i class="fa fa-chevron-right float-right position-absolute padding-top-xs-5 padding-top-md-30" style="right:10px;"></i>
                }
            </a>
            <a class="row hover-light border-bottom padding-top-xs-15 min-height-100" style="@(visibleClaims.Contains("nickname") ? "" : "display:none")" href="@(editableClaims.Contains("nickname") ? "/Manage/Nickname" : "javascript:void(0)")">
                <div class="col-12 col-md-10">
                    <div class="row">
                        <div class="form-group col-md-6 col-lg-6">
                            <label asp-for="Nickname"></label>
                            <input asp-for="Nickname" type="text" class="nickname-field form-control form-control-readonly" readonly="readonly" />
                        </div>
                    </div>
                </div>
                @if (editableClaims.Contains("nickname"))
                {
                    <i class="fa fa-chevron-right float-right position-absolute padding-top-xs-5 padding-top-md-30" style="right:10px;"></i>
                }
            </a>
            <a class="row hover-light border-bottom padding-top-xs-15 min-height-100" style="@(visibleClaims.Contains("birthdate") ? "" : "display:none")" href="@(editableClaims.Contains("birthdate") ? "/Manage/Birthdate" : "javascript:void(0)")">
                <div class="col-12 col-md-10">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label asp-for="Birthdate"></label>
                            <input asp-for="Birthdate" type="text" class="birth-date-field form-control form-control-readonly" readonly="readonly" />
                        </div>
                    </div>
                </div>
                @if (editableClaims.Contains("birthdate"))
                {
                    <i class="fa fa-chevron-right float-right position-absolute padding-top-xs-5 padding-top-md-30" style="right:10px;"></i>
                }
            </a>
        </div>
    </div>

    <div class="contact-card margin-top-xs-20 margin-top-md-50">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Contact Info</h3>
                <div class="card-subtitle">Update your email address and phone number</div>
            </div>
            <div class="card-body padding-top-xs-0 padding-bottom-xs-0">
                <a class="row hover-light border-bottom padding-top-xs-15 min-height-100" style="@(visibleClaims.Contains("email") ? "" : "display:none")" href="@(editableClaims.Contains("email") ? "/Manage/Email" : "javascript:void(0)")">
                    <div class="col-12 col-md-10">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label asp-for="EmailAddress"></label>
                                @if (Model.EmailConfirmed)
                                {
                                    <div class="input-group email-input-group">
                                        <input asp-for="EmailAddress" class="email-address-field form-control form-control-readonly" readonly="readonly" />
                                        <span class="input-group-addon" style="color:green;" aria-hidden="true" title="Verified email address"><span class="fa fa-check-circle"></span></span>
                                    </div>
                                }
                                else
                                {
                                    <div class="input-group email-input-group">
                                        <input asp-for="EmailAddress" class="email-address-field form-control form-control-readonly" readonly="readonly" />
                                        <span class="input-group-addon" style="color:red;" aria-hidden="true" title="Unverified email address"><span class="fa fa-times-circle"></span></span>
                                    </div>
                                    @if (!String.IsNullOrEmpty(Model.EmailAddress))
                                    {
                                        <div class="text-danger padding-top-xs-5">Please verify your email address</div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    @if (editableClaims.Contains("email"))
                    {
                        <i class="fa fa-chevron-right float-right position-absolute padding-top-xs-5 padding-top-md-30" style="right:10px;"></i>
                    }
                </a>
                <a class="row hover-light border-bottom padding-top-xs-15 min-height-100" style="@(visibleClaims.Contains("phone_number") ? "" : "display:none")" href="@(editableClaims.Contains("phone_number") ? "/Manage/Phone" : "javascript:void(0)")">
                    <div class="col-12 col-md-10">
                        <div class="row">
                            <div class="form-group col-md-5">
                                <label asp-for="PhoneNumber"></label>
                                @if (Model.PhoneConfirmed)
                                {
                                    <div class="input-group phone-input-group">
                                        <input asp-for="PhoneNumber" class="phone-number-field form-control form-control-readonly" readonly="readonly" />
                                        <span class="input-group-addon" style="color:green;" aria-hidden="true" title="Verified phone number"><span class="fa fa-check-circle"></span></span>
                                    </div>
                                }
                                else
                                {
                                    <div class="input-group email-input-group">
                                        <input asp-for="PhoneNumber" class="email-address-field form-control form-control-readonly" readonly="readonly" />
                                        <span class="input-group-addon" style="color:red;" aria-hidden="true" title="Unverified phone number"><span class="fa fa-times-circle"></span></span>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    @if (editableClaims.Contains("phone_number"))
                    {
                        <i class="fa fa-chevron-right float-right position-absolute padding-top-xs-5 padding-top-md-30" style="right:10px;"></i>
                    }
                </a>
                @if ((!Model.PhoneConfirmed && !String.IsNullOrEmpty(Model.PhoneNumber)) || (!Model.EmailConfirmed && !String.IsNullOrEmpty(Model.EmailAddress)))
                {
                    <div class="row border-top min-height-100">
                        <label class="col-12 padding-top-xs-15">Contact Verification</label>
                        <div class="col-12 col-md-10">
                            <div class="row">
                                @if (!Model.EmailConfirmed && !String.IsNullOrEmpty(Model.EmailAddress))
                                {
                                    <div class="col-md-5">
                                        <a href="/Manage/Verify?type=email?mode=user" class="email-verify-button btn" style="margin-bottom:20px;">Verify Email</a>
                                    </div>
                                }
                                @if (!Model.PhoneConfirmed && !String.IsNullOrEmpty(Model.PhoneNumber))
                                {
                                    <div class="col-md-5">
                                        <a href="/Manage/Verify?type=phone&mode=user" class="email-verify-button btn" style="margin-bottom:20px;">Verify Phone</a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="card-hidden" style="display:none;">
                <input asp-for="EditableClaims" style="display:none;" />
                <input asp-for="VisibleClaims" style="display:none;" />
            </div>
        </div>
    </div>
</div>