@using Candlewire.Identity.Server.Enums 

@model SignupViewModel

@{ 
    Layout = "/Views/Shared/_Layout.cshtml";

    var visibleClaims = (Model.VisibleClaims ?? "").Split((",").ToCharArray()).ToList();
    var editableClaims = (Model.EditableClaims ?? "").Split((",").ToCharArray()).ToList();
}

<link rel="stylesheet" href="~/css/register-signup.css" />
<script type="text/javascript" src="~/js/register-signup.js"></script>
<script src="~/lib/jquery-captcha/dist/jquery-captcha.min.js"></script>

<div class="profile-page">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <partial name="_ValidationSummary" />

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Sign Up</h3>
                    <div class="card-subtitle">@(Model.LoginMode == LoginMode.Internal ? "Lets get things set up!" : "We just need a little more info...")</div>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <h5>User Info</h5>
                                <div class="row">
                                    <div class="form-group col-md-6" style="@(visibleClaims.Contains("given_name") && editableClaims.Contains("given_name") ? "" : "display:none")">
                                        <label asp-for="FirstName"></label>
                                        @if (editableClaims.Contains("given_name"))
                                        {
                                            <input asp-for="FirstName" class="form-control" /> 
                                        }
                                        else
                                        {
                                            <input asp-for="FirstName" readonly="readonly" class="form-control" />
                                        }
                                    </div>
                                    <div class="form-group col-md-6" style="@(visibleClaims.Contains("family_name") && editableClaims.Contains("family_name") ? "" : "display:none")">
                                        <label asp-for="LastName"></label>
                                        @if (editableClaims.Contains("family_name"))
                                        {
                                            <input asp-for="LastName" class="form-control" /> 
                                        }
                                        else
                                        {
                                            <input asp-for="LastName" readonly="readonly" class="form-control" />
                                        }
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6" style="@(visibleClaims.Contains("nickname") && editableClaims.Contains("nickname") ? "" : "display:none")">
                                        <label asp-for="Nickname"></label>
                                        @if (editableClaims.Contains("nickname"))
                                        {
                                            <input asp-for="Nickname" class="form-control" /> 
                                        }
                                        else
                                        {
                                            <input asp-for="Nickname" readonly="readonly" class="form-control" />
                                        }
                                    </div>
                                    <div class="form-group col-md-6" style="@(visibleClaims.Contains("birthdate") && editableClaims.Contains("birthdate") ? "" : "display:none")">
                                        <label>
                                            <label asp-for="Birthdate"></label>
                                            @if (editableClaims.Contains("birthdate"))
                                            {
                                                <input asp-for="Birthdate" class="birth-date-field form-control" /> 
                                            }
                                            else
                                            {
                                                <input asp-for="Birthdate" readonly="readonly" class="birth-date-field form-control" />
                                            }
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="@(visibleClaims.Contains("email") || (visibleClaims.Contains("phone_number")) ? "" : "display:none")">
                                <h5>Contact Info</h5>
                                <div class="row" style="@((visibleClaims.Contains("email")) ? "" : "display:none")">
                                    <div class="form-group col-md-8">
                                        <label asp-for="EmailAddress"></label>
                                        @if (editableClaims.Contains("email"))
                                        {
                                            <input asp-for="EmailAddress" class="form-control" /> 
                                        }
                                        else
                                        {
                                            <input asp-for="EmailAddress" readonly="readonly" class="form-control" />
                                        }
                                    </div>
                                </div>
                                <div class="row" style="@((visibleClaims.Contains("phone_number")) ? "" : "display:none")">
                                    <div class="form-group col-md-6">
                                        <label asp-for="PhoneNumber"></label>
                                        @if (editableClaims.Contains("phone_number"))
                                        {
                                            <input asp-for="PhoneNumber" class="form-control" /> 
                                        }
                                        else
                                        {
                                            <input asp-for="PhoneNumber" readonly="readonly" class="form-control" />
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="@(visibleClaims.Contains("shipping_address") && editableClaims.Contains("shipping_address") ? "" : "display:none")">
                                <div class="row">
                                    <div class="col-12"><h5>Shipping Address Info</h5></div>
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="form-group col-12">
                                                <label asp-for="ShippingStreet"></label>
                                                @if (editableClaims.Contains("shipping_address"))
                                                {
                                                    <input asp-for="ShippingStreet" class="form-control" /> 
                                                }
                                                else
                                                {
                                                    <input asp-for="ShippingStreet" readonly="readonly" class="form-control" />
                                                }
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-12 col-md-5">
                                                <label asp-for="ShippingCity"></label>
                                                @if (editableClaims.Contains("shipping_address"))
                                                {
                                                    <input asp-for="ShippingCity" class="form-control" />
                                                }
                                                else
                                                {
                                                    <input asp-for="ShippingCity" readonly="readonly" class="form-control" />
                                                }
                                            </div>
                                            <div class="form-group col-12 col-md-4">
                                                <label asp-for="ShippingState"></label>
                                                @if (editableClaims.Contains("shipping_address"))
                                                {
                                                    <select asp-for="ShippingState" class="form-control">
                                                        <option value=""></option>
                                                        <option value="AL">Alabama</option>
                                                        <option value="AK">Alaska</option>
                                                        <option value="AZ">Arizona</option>
                                                        <option value="AR">Arkansas</option>
                                                        <option value="CA">California</option>
                                                        <option value="CO">Colorado</option>
                                                        <option value="CT">Connecticut</option>
                                                        <option value="DC">District of Columbia</option>
                                                        <option value="DE">Delaware</option>
                                                        <option value="FL">Florida</option>
                                                        <option value="GA">Georgia</option>
                                                        <option value="HI">Hawaii</option>
                                                        <option value="ID">Idaho</option>
                                                        <option value="IL">Illinois</option>
                                                        <option value="IN">Indiana</option>
                                                        <option value="IA">Iowa</option>
                                                        <option value="KS">Kansas</option>
                                                        <option value="KY">Kentucky</option>
                                                        <option value="LA">Louisiana</option>
                                                        <option value="ME">Maine</option>
                                                        <option value="MD">Maryland</option>
                                                        <option value="MA">Massachusetts</option>
                                                        <option value="MI">Michigan</option>
                                                        <option value="MN">Minnesota</option>
                                                        <option value="MS">Mississippi</option>
                                                        <option value="MO">Missouri</option>
                                                        <option value="MT">Montana</option>
                                                        <option value="NE">Nebraska</option>
                                                        <option value="NV">Nevada</option>
                                                        <option value="NH">New Hampshire</option>
                                                        <option value="NJ">New Jersey</option>
                                                        <option value="NM">New Mexico</option>
                                                        <option value="NY">New York</option>
                                                        <option value="NC">North Carolina</option>
                                                        <option value="ND">North Dakota</option>
                                                        <option value="OH">Ohio</option>
                                                        <option value="OK">Oklahoma</option>
                                                        <option value="OR">Oregon</option>
                                                        <option value="PA">Pennsylvania</option>
                                                        <option value="RI">Rhode Island</option>
                                                        <option value="SC">South Carolina</option>
                                                        <option value="SD">South Dakota</option>
                                                        <option value="TN">Tennessee</option>
                                                        <option value="TX">Texas</option>
                                                        <option value="UT">Utah</option>
                                                        <option value="VT">Vermont</option>
                                                        <option value="VA">Virginia</option>
                                                        <option value="WA">Washington</option>
                                                        <option value="WV">West Virginia</option>
                                                        <option value="WI">Wisconsin</option>
                                                        <option value="WY">Wyoming</option>
                                                    </select>
                                                }
                                                else
                                                {
                                                    <select asp-for="ShippingState" readonly="readonly" class="form-control">
                                                        <option value=""></option>
                                                        <option value="AL">Alabama</option>
                                                        <option value="AK">Alaska</option>
                                                        <option value="AZ">Arizona</option>
                                                        <option value="AR">Arkansas</option>
                                                        <option value="CA">California</option>
                                                        <option value="CO">Colorado</option>
                                                        <option value="CT">Connecticut</option>
                                                        <option value="DC">District of Columbia</option>
                                                        <option value="DE">Delaware</option>
                                                        <option value="FL">Florida</option>
                                                        <option value="GA">Georgia</option>
                                                        <option value="HI">Hawaii</option>
                                                        <option value="ID">Idaho</option>
                                                        <option value="IL">Illinois</option>
                                                        <option value="IN">Indiana</option>
                                                        <option value="IA">Iowa</option>
                                                        <option value="KS">Kansas</option>
                                                        <option value="KY">Kentucky</option>
                                                        <option value="LA">Louisiana</option>
                                                        <option value="ME">Maine</option>
                                                        <option value="MD">Maryland</option>
                                                        <option value="MA">Massachusetts</option>
                                                        <option value="MI">Michigan</option>
                                                        <option value="MN">Minnesota</option>
                                                        <option value="MS">Mississippi</option>
                                                        <option value="MO">Missouri</option>
                                                        <option value="MT">Montana</option>
                                                        <option value="NE">Nebraska</option>
                                                        <option value="NV">Nevada</option>
                                                        <option value="NH">New Hampshire</option>
                                                        <option value="NJ">New Jersey</option>
                                                        <option value="NM">New Mexico</option>
                                                        <option value="NY">New York</option>
                                                        <option value="NC">North Carolina</option>
                                                        <option value="ND">North Dakota</option>
                                                        <option value="OH">Ohio</option>
                                                        <option value="OK">Oklahoma</option>
                                                        <option value="OR">Oregon</option>
                                                        <option value="PA">Pennsylvania</option>
                                                        <option value="RI">Rhode Island</option>
                                                        <option value="SC">South Carolina</option>
                                                        <option value="SD">South Dakota</option>
                                                        <option value="TN">Tennessee</option>
                                                        <option value="TX">Texas</option>
                                                        <option value="UT">Utah</option>
                                                        <option value="VT">Vermont</option>
                                                        <option value="VA">Virginia</option>
                                                        <option value="WA">Washington</option>
                                                        <option value="WV">West Virginia</option>
                                                        <option value="WI">Wisconsin</option>
                                                        <option value="WY">Wyoming</option>
                                                    </select>
                                                }
                                            </div>
                                            <div class="form-group col-12 col-md-3">
                                                <label asp-for="ShippingZip"></label>
                                                @if (editableClaims.Contains("shipping_address"))
                                                {
                                                    <input asp-for="ShippingZip" class="form-control" /> 
                                                }
                                                else
                                                {
                                                    <input asp-for="ShippingZip" readonly="readonly" class="form-control" />
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="@(visibleClaims.Contains("billing_address") && editableClaims.Contains("billing_address") ? "" : "display:none")">
                                <div class="row">
                                    <div class="col-12"><h5>Billing Address Info</h5></div>
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="form-group col-12">
                                                <label asp-for="BillingStreet"></label>
                                                @if (editableClaims.Contains("billing_address"))
                                                {
                                                    <input asp-for="BillingStreet" class="form-control" /> 
                                                }
                                                else
                                                {
                                                    <input asp-for="BillingStreet" readonly="readonly" class="form-control" />
                                                }
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-12 col-md-5">
                                                <label asp-for="BillingCity"></label>
                                                @if (editableClaims.Contains("billing_address"))
                                                {
                                                    <input asp-for="BillingCity" class="form-control" /> 
                                                }
                                                else
                                                {
                                                    <input asp-for="BillingCity" readonly="readonly" class="form-control" />
                                                }
                                            </div>
                                            <div class="form-group col-12 col-md-4">
                                                <label asp-for="BillingState"></label>
                                                @if (editableClaims.Contains("billing_address"))
                                                {
                                                    <select asp-for="BillingState" class="form-control">
                                                        <option value=""></option>
                                                        <option value="AL">Alabama</option>
                                                        <option value="AK">Alaska</option>
                                                        <option value="AZ">Arizona</option>
                                                        <option value="AR">Arkansas</option>
                                                        <option value="CA">California</option>
                                                        <option value="CO">Colorado</option>
                                                        <option value="CT">Connecticut</option>
                                                        <option value="DC">District of Columbia</option>
                                                        <option value="DE">Delaware</option>
                                                        <option value="FL">Florida</option>
                                                        <option value="GA">Georgia</option>
                                                        <option value="HI">Hawaii</option>
                                                        <option value="ID">Idaho</option>
                                                        <option value="IL">Illinois</option>
                                                        <option value="IN">Indiana</option>
                                                        <option value="IA">Iowa</option>
                                                        <option value="KS">Kansas</option>
                                                        <option value="KY">Kentucky</option>
                                                        <option value="LA">Louisiana</option>
                                                        <option value="ME">Maine</option>
                                                        <option value="MD">Maryland</option>
                                                        <option value="MA">Massachusetts</option>
                                                        <option value="MI">Michigan</option>
                                                        <option value="MN">Minnesota</option>
                                                        <option value="MS">Mississippi</option>
                                                        <option value="MO">Missouri</option>
                                                        <option value="MT">Montana</option>
                                                        <option value="NE">Nebraska</option>
                                                        <option value="NV">Nevada</option>
                                                        <option value="NH">New Hampshire</option>
                                                        <option value="NJ">New Jersey</option>
                                                        <option value="NM">New Mexico</option>
                                                        <option value="NY">New York</option>
                                                        <option value="NC">North Carolina</option>
                                                        <option value="ND">North Dakota</option>
                                                        <option value="OH">Ohio</option>
                                                        <option value="OK">Oklahoma</option>
                                                        <option value="OR">Oregon</option>
                                                        <option value="PA">Pennsylvania</option>
                                                        <option value="RI">Rhode Island</option>
                                                        <option value="SC">South Carolina</option>
                                                        <option value="SD">South Dakota</option>
                                                        <option value="TN">Tennessee</option>
                                                        <option value="TX">Texas</option>
                                                        <option value="UT">Utah</option>
                                                        <option value="VT">Vermont</option>
                                                        <option value="VA">Virginia</option>
                                                        <option value="WA">Washington</option>
                                                        <option value="WV">West Virginia</option>
                                                        <option value="WI">Wisconsin</option>
                                                        <option value="WY">Wyoming</option>
                                                    </select>
                                                }
                                                else
                                                {
                                                    <select asp-for="BillingState" readonly="readonly" class="form-control">
                                                        <option value=""></option>
                                                        <option value="AL">Alabama</option>
                                                        <option value="AK">Alaska</option>
                                                        <option value="AZ">Arizona</option>
                                                        <option value="AR">Arkansas</option>
                                                        <option value="CA">California</option>
                                                        <option value="CO">Colorado</option>
                                                        <option value="CT">Connecticut</option>
                                                        <option value="DC">District of Columbia</option>
                                                        <option value="DE">Delaware</option>
                                                        <option value="FL">Florida</option>
                                                        <option value="GA">Georgia</option>
                                                        <option value="HI">Hawaii</option>
                                                        <option value="ID">Idaho</option>
                                                        <option value="IL">Illinois</option>
                                                        <option value="IN">Indiana</option>
                                                        <option value="IA">Iowa</option>
                                                        <option value="KS">Kansas</option>
                                                        <option value="KY">Kentucky</option>
                                                        <option value="LA">Louisiana</option>
                                                        <option value="ME">Maine</option>
                                                        <option value="MD">Maryland</option>
                                                        <option value="MA">Massachusetts</option>
                                                        <option value="MI">Michigan</option>
                                                        <option value="MN">Minnesota</option>
                                                        <option value="MS">Mississippi</option>
                                                        <option value="MO">Missouri</option>
                                                        <option value="MT">Montana</option>
                                                        <option value="NE">Nebraska</option>
                                                        <option value="NV">Nevada</option>
                                                        <option value="NH">New Hampshire</option>
                                                        <option value="NJ">New Jersey</option>
                                                        <option value="NM">New Mexico</option>
                                                        <option value="NY">New York</option>
                                                        <option value="NC">North Carolina</option>
                                                        <option value="ND">North Dakota</option>
                                                        <option value="OH">Ohio</option>
                                                        <option value="OK">Oklahoma</option>
                                                        <option value="OR">Oregon</option>
                                                        <option value="PA">Pennsylvania</option>
                                                        <option value="RI">Rhode Island</option>
                                                        <option value="SC">South Carolina</option>
                                                        <option value="SD">South Dakota</option>
                                                        <option value="TN">Tennessee</option>
                                                        <option value="TX">Texas</option>
                                                        <option value="UT">Utah</option>
                                                        <option value="VT">Vermont</option>
                                                        <option value="VA">Virginia</option>
                                                        <option value="WA">Washington</option>
                                                        <option value="WV">West Virginia</option>
                                                        <option value="WI">Wisconsin</option>
                                                        <option value="WY">Wyoming</option>
                                                    </select>
                                                }
                                            </div>
                                            <div class="form-group col-12 col-md-3">
                                                <label asp-for="BillingZip"></label>
                                                @if (editableClaims.Contains("billing_address"))
                                                {
                                                    <input asp-for="BillingZip" class="form-control" /> 
                                                }
                                                else
                                                {
                                                    <input asp-for="BillingZip" readonly="readonly" class="form-control" />
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="@(Model.LoginMode != LoginMode.External ? "" : "display:none")">
                            <div class="col-md-12">
                                <h5>Setup a Password</h5>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Password" class="password-label"></label>
                                            <div class="input-group password-toggle">
                                                <input asp-for="Password" class="form-control password-field" />
                                                <div class="input-group-addon">
                                                    <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <div class="password-information">
                                                <div class="password-meter"><div class="password-progress"></div></div>
                                                <span class="password-strength"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="ConfirmPassword"></label>
                                            <div class="input-group confirm-input-group">
                                                <input asp-for="ConfirmPassword" class="form-control confirm-field" />
                                                <span class="input-group-addon confirm-image" aria-hidden="true" title="Passwords match"><span class="fa fa-check-circle"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary col-sm-12 col-md-3 col-xl-2">@(Model.LoginMode == LoginMode.External ? "Create Account" : "Next")</button>
                            @Html.ActionLink("Cancel", "Login", "Account", null, new { @class = "btn btn-secondary col-sm-12 col-md-3 col-xl-2" })
                        </div>
                        <div class="form-hidden" style="display:none;">
                            @Html.HiddenFor(a => a.ReturnUrl)
                            @Html.HiddenFor(a => a.LoginMode)
                            @Html.HiddenFor(a => a.EditableClaims)
                            @Html.HiddenFor(a => a.VisibleClaims)
                            @Html.HiddenFor(a => a.RequireClaims)
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>