@using Candlewire.Identity.Server.Enums 

@model SignupViewModel

@{ 
    Layout = "/Views/Shared/_Layout.cshtml";

    var visibleClaims = (Model.VisibleClaims ?? "").Split((",").ToCharArray()).ToList();
    var editableClaims = (Model.EditableClaims ?? "").Split((",").ToCharArray()).ToList();
}

<link rel="stylesheet" href="~/css/register-signup.css" />
<script type="text/javascript" src="~/js/register-signup.js"></script>
<script src="~/lib/jquery-captcha/dist/jquery-captcha.min.js"></script>

<div class="profile-page">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <partial name="_ValidationSummary" />

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Sign Up</h3>
                    <div class="card-subtitle">@(Model.LoginMode == LoginMode.Internal ? "Lets get things set up!" : "We just need a little more info...")</div>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <h5>User Info</h5>
                                <div class="row">
                                    <div class="form-group col-md-6" style="@(visibleClaims.Contains("given_name") && editableClaims.Contains("given_name") ? "" : "display:none")">
                                        <label asp-for="FirstName"></label>
                                        @Html.EditorFor(a => a.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                    <div class="form-group col-md-6" style="@(visibleClaims.Contains("family_name") && editableClaims.Contains("family_name") ? "" : "display:none")">
                                        <label asp-for="LastName"></label>
                                        @Html.EditorFor(a => a.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4" style="@(visibleClaims.Contains("nickname") && editableClaims.Contains("nickname") ? "" : "display:none")">
                                        <label asp-for="Nickname"></label>
                                        @Html.EditorFor(a => a.Nickname, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                    <div class="form-group col-md-4" style="@(visibleClaims.Contains("birthdate") && editableClaims.Contains("birthdate") ? "" : "display:none")">
                                        <label>
                                            <label asp-for="Birthdate"></label>
                                            <input asp-for="Birthdate" type="text" class="birth-date-field form-control" />
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="@(visibleClaims.Contains("email") && editableClaims.Contains("email") ? "" : "display:none")">
                                <h5>Contact Info</h5>
                                <div class="row">
                                    <div class="form-group col-md-8">
                                        <label asp-for="EmailAddress"></label>
                                        <input asp-for="EmailAddress" class="email-address-field form-control" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label asp-for="PhoneNumber"></label>
                                        <input asp-for="PhoneNumber" class="phone-number-field form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="@(visibleClaims.Contains("shipping_address") && editableClaims.Contains("shipping_address") ? "" : "display:none")">
                                <div class="row">
                                    <div class="col-12"><h5>Shipping Address Info</h5></div>
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="form-group col-12">
                                                <label asp-for="ShippingStreet"></label>
                                                <input asp-for="ShippingStreet" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-12 col-md-5">
                                                <label asp-for="ShippingCity"></label>
                                                <input asp-for="ShippingCity" class="form-control" />
                                            </div>
                                            <div class="form-group col-12 col-md-4">
                                                <label asp-for="ShippingState"></label>
                                                @Html.DropDownListFor(a => a.ShippingState,
                                                    new SelectList(new List<SelectListItem>() {
                                                        new SelectListItem() { Text="", Value=""},
                                                        new SelectListItem() { Text="Alabama", Value="AL"},
                                                        new SelectListItem() { Text="Alaska", Value="AK"},
                                                        new SelectListItem() { Text="Arizona", Value="AZ"},
                                                        new SelectListItem() { Text="Arkansas", Value="AR"},
                                                        new SelectListItem() { Text="California", Value="CA"},
                                                        new SelectListItem() { Text="Colorado", Value="CO"},
                                                        new SelectListItem() { Text="Connecticut", Value="CT"},
                                                        new SelectListItem() { Text="District of Columbia", Value="DC"},
                                                        new SelectListItem() { Text="Delaware", Value="DE"},
                                                        new SelectListItem() { Text="Florida", Value="FL"},
                                                        new SelectListItem() { Text="Georgia", Value="GA"},
                                                        new SelectListItem() { Text="Hawaii", Value="HI"},
                                                        new SelectListItem() { Text="Idaho", Value="ID"},
                                                        new SelectListItem() { Text="Illinois", Value="IL"},
                                                        new SelectListItem() { Text="Indiana", Value="IN"},
                                                        new SelectListItem() { Text="Iowa", Value="IA"},
                                                        new SelectListItem() { Text="Kansas", Value="KS"},
                                                        new SelectListItem() { Text="Kentucky", Value="KY"},
                                                        new SelectListItem() { Text="Louisiana", Value="LA"},
                                                        new SelectListItem() { Text="Maine", Value="ME"},
                                                        new SelectListItem() { Text="Maryland", Value="MD"},
                                                        new SelectListItem() { Text="Massachusetts", Value="MA"},
                                                        new SelectListItem() { Text="Michigan", Value="MI"},
                                                        new SelectListItem() { Text="Minnesota", Value="MN"},
                                                        new SelectListItem() { Text="Mississippi", Value="MS"},
                                                        new SelectListItem() { Text="Missouri", Value="MO"},
                                                        new SelectListItem() { Text="Montana", Value="MT"},
                                                        new SelectListItem() { Text="Nebraska", Value="NE"},
                                                        new SelectListItem() { Text="Nevada", Value="NV"},
                                                        new SelectListItem() { Text="New Hampshire", Value="NH"},
                                                        new SelectListItem() { Text="New Jersey", Value="NJ"},
                                                        new SelectListItem() { Text="New Mexico", Value="NM"},
                                                        new SelectListItem() { Text="New York", Value="NY"},
                                                        new SelectListItem() { Text="North Carolina", Value="NC"},
                                                        new SelectListItem() { Text="North Dakota", Value="ND"},
                                                        new SelectListItem() { Text="Ohio", Value="OH"},
                                                        new SelectListItem() { Text="Oklahoma", Value="OK"},
                                                        new SelectListItem() { Text="Oregon", Value="OR"},
                                                        new SelectListItem() { Text="Pennsylvania", Value="PA"},
                                                        new SelectListItem() { Text="Rhode Island", Value="RI"},
                                                        new SelectListItem() { Text="South Carolina", Value="SC"},
                                                        new SelectListItem() { Text="South Dakota", Value="SD"},
                                                        new SelectListItem() { Text="Tennessee", Value="TN"},
                                                        new SelectListItem() { Text="Texas", Value="TX"},
                                                        new SelectListItem() { Text="Utah", Value="UT"},
                                                        new SelectListItem() { Text="Vermont", Value="VT"},
                                                        new SelectListItem() { Text="Virginia", Value="VA"},
                                                        new SelectListItem() { Text="Washington", Value="WA"},
                                                        new SelectListItem() { Text="West Virginia", Value="WV"},
                                                        new SelectListItem() { Text="Wisconsin", Value="WI"},
                                                        new SelectListItem() { Text="Wyoming", Value="WY"}
                                                    },
                                                    "Value",
                                                    "Text"
                                                    ),
                                                    null,
                                                    new { @class = "form-control" }
                                                )
                                            </div>
                                            <div class="form-group col-12 col-md-3">
                                                <label asp-for="ShippingZip"></label>
                                                <input asp-for="ShippingZip" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="@(visibleClaims.Contains("billing_address") && editableClaims.Contains("billing_address") ? "" : "display:none")">
                                <div class="row">
                                    <div class="col-12"><h5>Billing Address Info</h5></div>
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="form-group col-12">
                                                <label asp-for="BillingStreet"></label>
                                                <input asp-for="BillingStreet" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-12 col-md-5">
                                                <label asp-for="BillingCity"></label>
                                                <input asp-for="BillingCity" class="form-control" />
                                            </div>
                                            <div class="form-group col-12 col-md-4">
                                                <label asp-for="BillingState"></label>
                                                @Html.DropDownListFor(a => a.BillingState,
                                                    new SelectList(new List<SelectListItem>() {
                                                        new SelectListItem() { Text="", Value=""},
                                                        new SelectListItem() { Text="Alabama", Value="AL"},
                                                        new SelectListItem() { Text="Alaska", Value="AK"},
                                                        new SelectListItem() { Text="Arizona", Value="AZ"},
                                                        new SelectListItem() { Text="Arkansas", Value="AR"},
                                                        new SelectListItem() { Text="California", Value="CA"},
                                                        new SelectListItem() { Text="Colorado", Value="CO"},
                                                        new SelectListItem() { Text="Connecticut", Value="CT"},
                                                        new SelectListItem() { Text="District of Columbia", Value="DC"},
                                                        new SelectListItem() { Text="Delaware", Value="DE"},
                                                        new SelectListItem() { Text="Florida", Value="FL"},
                                                        new SelectListItem() { Text="Georgia", Value="GA"},
                                                        new SelectListItem() { Text="Hawaii", Value="HI"},
                                                        new SelectListItem() { Text="Idaho", Value="ID"},
                                                        new SelectListItem() { Text="Illinois", Value="IL"},
                                                        new SelectListItem() { Text="Indiana", Value="IN"},
                                                        new SelectListItem() { Text="Iowa", Value="IA"},
                                                        new SelectListItem() { Text="Kansas", Value="KS"},
                                                        new SelectListItem() { Text="Kentucky", Value="KY"},
                                                        new SelectListItem() { Text="Louisiana", Value="LA"},
                                                        new SelectListItem() { Text="Maine", Value="ME"},
                                                        new SelectListItem() { Text="Maryland", Value="MD"},
                                                        new SelectListItem() { Text="Massachusetts", Value="MA"},
                                                        new SelectListItem() { Text="Michigan", Value="MI"},
                                                        new SelectListItem() { Text="Minnesota", Value="MN"},
                                                        new SelectListItem() { Text="Mississippi", Value="MS"},
                                                        new SelectListItem() { Text="Missouri", Value="MO"},
                                                        new SelectListItem() { Text="Montana", Value="MT"},
                                                        new SelectListItem() { Text="Nebraska", Value="NE"},
                                                        new SelectListItem() { Text="Nevada", Value="NV"},
                                                        new SelectListItem() { Text="New Hampshire", Value="NH"},
                                                        new SelectListItem() { Text="New Jersey", Value="NJ"},
                                                        new SelectListItem() { Text="New Mexico", Value="NM"},
                                                        new SelectListItem() { Text="New York", Value="NY"},
                                                        new SelectListItem() { Text="North Carolina", Value="NC"},
                                                        new SelectListItem() { Text="North Dakota", Value="ND"},
                                                        new SelectListItem() { Text="Ohio", Value="OH"},
                                                        new SelectListItem() { Text="Oklahoma", Value="OK"},
                                                        new SelectListItem() { Text="Oregon", Value="OR"},
                                                        new SelectListItem() { Text="Pennsylvania", Value="PA"},
                                                        new SelectListItem() { Text="Rhode Island", Value="RI"},
                                                        new SelectListItem() { Text="South Carolina", Value="SC"},
                                                        new SelectListItem() { Text="South Dakota", Value="SD"},
                                                        new SelectListItem() { Text="Tennessee", Value="TN"},
                                                        new SelectListItem() { Text="Texas", Value="TX"},
                                                        new SelectListItem() { Text="Utah", Value="UT"},
                                                        new SelectListItem() { Text="Vermont", Value="VT"},
                                                        new SelectListItem() { Text="Virginia", Value="VA"},
                                                        new SelectListItem() { Text="Washington", Value="WA"},
                                                        new SelectListItem() { Text="West Virginia", Value="WV"},
                                                        new SelectListItem() { Text="Wisconsin", Value="WI"},
                                                        new SelectListItem() { Text="Wyoming", Value="WY"}
                                                    },
                                                    "Value",
                                                    "Text"
                                                    ),
                                                    null,
                                                    new { @class = "form-control" }
                                                )
                                            </div>
                                            <div class="form-group col-12 col-md-3">
                                                <label asp-for="BillingZip"></label>
                                                <input asp-for="BillingZip" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="@(Model.LoginMode != LoginMode.External ? "" : "display:none")">
                            <div class="col-md-6">
                                <h5>Setup a Password</h5>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Password" class="password-label"></label>
                                            <div class="input-group password-toggle">
                                                <input asp-for="Password" class="form-control password-field" />
                                                <div class="input-group-addon">
                                                    <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <div class="password-information">
                                                <div class="password-meter"><div class="password-progress"></div></div>
                                                <span class="password-strength"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="ConfirmPassword"></label>
                                            <div class="input-group confirm-input-group">
                                                <input asp-for="ConfirmPassword" class="form-control confirm-field" />
                                                <span class="input-group-addon confirm-image" aria-hidden="true" title="Passwords match"><span class="fa fa-check-circle"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary col-sm-12 col-md-3 col-xl-2">Next</button>
                            @Html.ActionLink("Cancel", "Login", "Account", null, new { @class = "btn btn-secondary col-sm-12 col-md-3 col-xl-2" })
                        </div>
                        <div class="form-hidden" style="display:none;">
                            @Html.HiddenFor(a => a.ReturnUrl)
                            @Html.HiddenFor(a => a.LoginMode)
                            @Html.HiddenFor(a => a.EditableClaims)
                            @Html.HiddenFor(a => a.VisibleClaims)
                            @Html.HiddenFor(a => a.RequireClaims)
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>